.content {
  background: $white_not;
  color: $black;
}
.home-content {
  background: $white_not;
  color: $black;
}
.home-section {
  p {
    font-size: 1.44*$em;
  }
}
.home-section:nth-of-type(1) {
  background: $feather;
  background: linear-gradient(to right, $feather 0%,$marine 100%);
  color: $white_not;
  transform: skewY(0deg) translateZ(0);
  .wrapper {
    padding: 10*$em 0 16*$em;
    transform: skewY(-0deg) translateZ(0);
  }
}
.home-section:nth-of-type(2) {
  padding-bottom: 5*$em;
  padding-top: 5*$em;
}
.home-pull {
  padding-top: 5*$em;
}

.page-content .wrapper {
  padding-bottom: 10*$em;
  padding-top: 10*$em;
}

.page-content ul {
  font-family: $helvetica;
  font-size: 1.885333333*$em;
}

.image-holder {
  transform: skewY(0deg) translateZ(0);
  padding-bottom: 2*$em;
  img {
    display: block;
    margin: auto;
    max-height: 460px;
    transform: skewY(-0deg) translateZ(0);
  }
}

.bg-cotton {
  background: lighten($cotton, 7%);
}
.color-cotton {
  color: darken($cotton, 7%);
}

.faq-list ul {
  list-style-type: circle;
  font-size: 1.44*$em;
}
