@import url(https://fonts.googleapis.com/css?family=Lato:400,100,600|Gentium+Book+Basic:400|Abril+Fatface:400);

$helvetica: "Lato",Helvetica,Arial,sans-serif;
$serif: "Gentium Book Basic",Georgia,serif;
$abril: "Abril Fatface",Georgia,serif;

$white: #fdfdfd;
$white_off: #fefefb;
$white_not: #fafaf8;
$black: #231f20;
$black_real: #000;

$feather: #77c9d4;
$marine: #57bc90;
$fresh: #4abdac;
$vermillion: #fc4a1a;
$sunshine: #f7b733;
$cotton: #dfdce3;
$mako: #3f484d;

$em: 16px;

$s: 320px;
$s-m: 480px;
$m: 640px;
$m-l: 800px;
$l: 960px;
$l-xl: 1120px;
$xl: 1280px;
